:root {
  --divider: hsl(240, 5%, 91%);
  --text-color: hsl(237, 12%, 33%);
  --caret-color: hsl(14, 88%, 65%);
}
@font-face {
  font-family: "kumbhsans";
  src: url("./KumbhSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Kumbhsans-Bold";
  src: url("./KumbhSans-Bold.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  font-family: "Kumbhsans";
}
body {
  min-height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.container {
  background-color: white;
  position: relative;
  border-radius: 1rem;
  flex-basis: 65%;
  height: 30rem;
  display: flex;
  flex-flow: column nowrap;
}

.image_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  background-image: url("../images/bg-pattern-mobile.svg"),
    url("../images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 63%, 30% 46%;
}
summary {
  list-style-type: none;
  cursor: pointer;
}
.faq_container {
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: auto;
  flex-basis: 90%;
}
.faq {
  margin: 1rem;
  font-family: "Kumbhsans-Bold";
  font-weight: 700;
}
.questions {
  position: relative;
  width: 90%;
  border-bottom: 1px solid var(--divider);
  padding: 0.8rem 0;
}
.question::after {
  content: "\2304";
  position: absolute;
  transform: translatey(-60%);
  right: 1%;
  font-size: 1.3rem;
  color: var(--caret-color);
}
details[open] > .question {
  font-weight: 400;
  font-family: "Kumbhsans-Bold";
}
details[open] > .question::after {
  content: "\2303";
  position: absolute;
  right: 1%;
  transform: translatey(5%);
  font-size: 1.3rem;
  color: var(--caret-color);
}
.answer {
  margin-top: 0.75rem;
  color: var(--text-color);
  font-size: 0.75rem;
}

.attribution {
  position: fixed;
  bottom: 1%;
}

/* }
.image_sidebar {
  background: url("../images/bg-pattern-desktop.svg") no-repeat,
    url("../images/illustration-woman-online-desktop.svg") no-repeat;
  background-size: contain, contain;
  background-position: right 70px bottom -170px, left -70px bottom 70px;
  min-width: 50%;
}

.box_img {
  z-index: 2;
  position: absolute;
  object-fit: cover;
  left: -10%;
  height: auto;
  width: auto;
  bottom: 22%;
}
ul {
  list-style-type: none;
}
.faq_sidebar {
  margin-right: 5rem;
  padding: 2rem 0;
  width: 100%;
}
.faq {
  margin: 2rem 0 1rem;
  font-family: "Kumbhsans-Bold";
}

.questions {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  border-bottom: 1px solid var(--divider);
  color: var(--text-color);
  padding: 1rem 0.6rem 1rem 0;
}
.questions::after {
  content: "\2304";
  position: absolute;
  font-size: 1.4rem;
  top: 1%;
  right: 1%;
  color: var(--caret-color);
}
.answer {
  display: none;
  font-size: 12px;
  margin: 0.4rem 0;
  color: hsl(240, 6%, 50%);
}
.question {
  font-family: "Kumbhsans";
  font-weight: 700;
}
.faq ~ .questions:hover:after {
  content: "\2303";
  position: absolute;
  font-size: 1.4rem;
  right: 1%;
  top: 25%;
  color: var(--caret-color);
}

.questions:hover > .question {
  font-family: "Kumbhsans-Bold";
}
.questions:hover > .answer {
  display: block;
}

.attribution {
  position: fixed;
  bottom: 1%;
} */
